body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Dosis&display";
}

h2 {
    color: #3046C5;
}

header h2 {
    color: white;
}

.site-footer {
    background-color: rgb(221, 226, 221);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color:#3b3733;
    color:white;
}

.row-content {
    padding: 25px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: hsl(138, 39%, 52%);
}

.jumboheaders {
    color: #3046C5;
}

.carousel {
    border: solid #5637dd; }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }
  
  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; }
  