body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Playfair+Display",;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-color: lightskyblue;
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color:rgb(120, 167, 167);
    color:white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #66a3ff;
}

/* .form-group notes{
    
} */